<!DOCTYPE html>
    {% extends 'base/theme.html' %}

    {% block main_content %}
    <div class="row main-content">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
        {% for location in object_list %}
            <div>
            <h3> <a href="{{ location.get_absolute_url }}">{{ location.title }}</a> </h3>
            {% if location.address %}
                <p><strong>{{ location.address }}</strong></p>
            {% endif %}
            {% if location.hours %}
                <p> {{ location.hours }}</p>
            {% endif %}
            {% if location.description %}
                <p> {{ location.description }} </p>
            {% endif %}
            {% if location.image_file %}
                <img class='img-responsive' src="{{ location.image_file.url }}"/>
            {% endif %}
            </div>
        {% endfor %}
        </div>
        <div class="col-md-2"></div>
    </div>
    </div>
    {% endblock %}